body {
    padding: 0;
    margin: 0;

}

.fa-star {
    color: #FBBF24;
}

.card-body {
    position: relative;
}

.important-icon-left {
    text-align: center;
    padding: 10px 15px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: -20px;
}

.important-icon-left i {
    text-align: center;
    color: white;
    font-size: 20px;
}

.important-icon-right {
    text-align: center;
    padding: 10px 15px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    right: -20px;
}

.important-icon-right i {
    text-align: center;
    color: white;
    font-size: 20px;
}

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #161616;
    margin-bottom: -100px;
}

#icon a {
    background-color: #242424;
    padding: 15px 20px;
    /* padding: 10px 20px; */
    border-radius: 50%;
    font-size: 25px;
    margin-right: 15px;
}

/* media query for important icon in students feedback  */
@media only screen and (max-width: 700px) {
    .important-icon-left {
        display: none;
    }

    .important-icon-right {
        display: none;
    }
}